In [ ]:
# FRA challenge

In [2]:
import pandas as pd
import json as js

In [3]:
data_path ='assets/fra/data1.json'
try:
    pd.read_json(data_path)
except:
    jsonlist = {}
    file = open(data_path, 'r') 
    lines = file.readlines() 

    count = 0
    # Strips the newline character 
    for line in lines: 
        jsonlist[count] = js.loads(line.strip())
        count+=1

In [16]:
df = pd.DataFrame.from_dict(jsonlist, orient='index')
df.head(2)

,ts,ip_src,port_src,ip_dst,port_dst,bytes_src,bytes_dst,packets_src,packets_dst
0,1585579624,3.3.3.55,12204,32.31.30.10,443,13095,6180276,29,4676
1,1585579642,2.2.38.38,53606,44.55.66.190,8443,9123,13484124,22,16902

In [5]:
def adressSplitter(ip):
    parts = ip.split('.')
    return parts
    
#adressSplitter('3.3.3.2')

['3', '3', '3', '2']

In [15]:
subssetdf = df.head(100)

def dfAdressSplitter(df, prefix):
    df[prefix + '1'] = 0
    df[prefix + '2'] = 0
    df[prefix + '3'] = 0
    df[prefix + '4'] = 0
    
    
    #df['1'] = df.apply(lambda x: adressSplitter(x[prefix]), axis = 1)
    df[prefix + '1'] = df.apply(lambda x: adressSplitter(x[prefix])[0], axis = 1)
    df[prefix + '2'] = df.apply(lambda x: adressSplitter(x[prefix])[1], axis = 1)
    df[prefix + '3'] = df.apply(lambda x: adressSplitter(x[prefix])[2], axis = 1)
    df[prefix + '4'] = df.apply(lambda x: adressSplitter(x[prefix])[3], axis = 1)
    return df

expandedSRC = dfAdressSplitter(df, 'ip_src')
expandedDST = dfAdressSplitter(expandedSRC, 'ip_dst')

In [27]:

print(expandedDST.shape[0])
expandedDST.head()

86076

,ts,ip_src,port_src,ip_dst,port_dst,bytes_src,bytes_dst,packets_src,packets_dst,ip_src1,ip_src2,ip_src3,ip_src4,ip_dst1,ip_dst2,ip_dst3,ip_dst4
0,1585579624,3.3.3.55,12204,32.31.30.10,443,13095,6180276,29,4676,3,3,3,55,32,31,30,10
1,1585579642,2.2.38.38,53606,44.55.66.190,8443,9123,13484124,22,16902,2,2,38,38,44,55,66,190
2,1585579645,2.2.38.93,34645,123.123.1.204,8443,12811,9544371,54,11950,2,2,38,93,123,123,1,204
3,1585579647,2.2.171.255,27618,44.55.66.17,443,10085,14647202,13,65394,2,2,171,255,44,55,66,17
4,1585579647,3.3.3.22,30939,44.55.66.126,8443,11620,6049851,18,6085,3,3,3,22,44,55,66,126

In [22]:
expandedDST['port_dst'].unique()
# ports
"""
 443
 Unofficial	Quick UDP Internet Connections (QUIC),
 a transport protocol over UDP (still in draft as of April 2020), using stream multiplexing, encryption by default with TLS, and currently supporting HTTP/2.[49]
 
 8443
 	SW Soft Plesk Control Panel	Unofficial
Yes		Apache Tomcat SSL	Unofficial
Yes		Promise WebPAM SSL	Unofficial
Yes		iCal over SSL[10]	Unofficial
Yes		MineOs WebUi

 8080
 Alternative port for HTTP. See also ports 80 and 8008.	Official
 80,
 HTTP port
 23
 Telnet, unencrypted text communication
 25,
 SMTP mail routing
 22,
 SSH transfer
 3389
 Microsoft Terminal Server (RDP) officially registered as Windows Based Terminal (WBT)[174]	Official



"""

array([ 443, 8443, 8080,   80,   23,   25,   22, 3389])

In [ ]:
#Going to port 8080 and 80 is not that unusua

In [24]:
len(expandedDST['port_src'].unique())

43915

In [45]:
expandedDST['ip_src1'].unique()

array(['3', '2', '1', '255'], dtype=object)

In [47]:
expandedDST[expandedDST['ip_src1'] == '255']

,ts,ip_src,port_src,ip_dst,port_dst,bytes_src,bytes_dst,packets_src,packets_dst,ip_src1,ip_src2,ip_src3,ip_src4,ip_dst1,ip_dst2,ip_dst3,ip_dst4
5190,1585666007,255.255.255.1,19918,143.186.107.42,25,10397,2503,13,7,255,255,255,1,143,186,107,42
5192,1585666009,255.255.255.1,12853,1.1.1.1,25,10400,2502,38,6,255,255,255,1,1,1,1,1
5193,1585666011,255.255.255.1,46934,60.97.213.224,25,10395,2499,22,7,255,255,255,1,60,97,213,224
5194,1585666012,255.255.255.1,16985,134.244.188.82,25,10404,2507,38,7,255,255,255,1,134,244,188,82
5195,1585666013,255.255.255.1,19532,2.2.2.2,25,10405,2488,27,10,255,255,255,1,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17214,1585683454,255.255.255.1,11756,2.2.2.7,3389,1367,173,6,5,255,255,255,1,2,2,2,7
17215,1585683455,255.255.255.1,21356,2.2.2.7,3389,1284,205,6,5,255,255,255,1,2,2,2,7
17216,1585683456,255.255.255.1,23537,2.2.2.7,3389,1028,210,7,5,255,255,255,1,2,2,2,7
17217,1585683457,255.255.255.1,47341,2.2.2.7,3389,1324,174,5,5,255,255,255,1,2,2,2,7
17218,1585683458,255.255.255.1,46774,2.2.2.7,3389,602,201,5,5,255,255,255,1,2,2,2,7

In [35]:
interesting = 0
groups = expandedSRC.groupby("port_dst")
for groupname, activity in groups:
    print(groupname)
    if groupname == 23:
        interesting = activity

22
23
25
80
443
3389
8080
8443

In [62]:
interesting.loc[2000:10000]

,ts,ip_src,port_src,ip_dst,port_dst,bytes_src,bytes_dst,packets_src,packets_dst,ip_src1,ip_src2,ip_src3,ip_src4,ip_dst1,ip_dst2,ip_dst3,ip_dst4
2002,1585637342,1.1.1.133,15667,44.55.66.75,23,13875,9199973,15,7490,1,1,1,133,44,55,66,75
2003,1585637355,2.2.6.247,60290,44.55.66.0,23,7698,5335078,33,4484,2,2,6,247,44,55,66,0
2005,1585637359,3.3.3.115,12504,123.123.1.231,23,13120,10080363,15,7341,3,3,3,115,123,123,1,231
2017,1585637421,3.3.3.68,47167,42.42.42.25,23,5774,13713974,9,23813,3,3,3,68,42,42,42,25
2042,1585637729,2.2.130.194,58317,44.55.66.176,23,6673,5977608,34,15099,2,2,130,194,44,55,66,176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7414,1585674043,3.3.3.65,51389,42.42.42.3,23,10826,12433591,12,17107,3,3,3,65,42,42,42,3
7875,1585674458,2.2.124.29,29785,32.31.30.195,23,12160,11984350,35,8577,2,2,124,29,32,31,30,195
8553,1585675056,2.2.184.6,10169,32.31.30.30,23,12832,13197897,30,11767,2,2,184,6,32,31,30,30
8954,1585675421,3.3.3.224,47369,44.55.66.96,23,7306,9455433,10,16279,3,3,3,224,44,55,66,96
8992,1585675454,3.3.3.43,23141,44.55.66.173,23,5652,5890708,9,9109,3,3,3,43,44,55,66,173

In [64]:
expandedSRC.head(20)

,ts,ip_src,port_src,ip_dst,port_dst,bytes_src,bytes_dst,packets_src,packets_dst,ip_src1,ip_src2,ip_src3,ip_src4,ip_dst1,ip_dst2,ip_dst3,ip_dst4
0,1585579624,3.3.3.55,12204,32.31.30.10,443,13095,6180276,29,4676,3,3,3,55,32,31,30,10
1,1585579642,2.2.38.38,53606,44.55.66.190,8443,9123,13484124,22,16902,2,2,38,38,44,55,66,190
2,1585579645,2.2.38.93,34645,123.123.1.204,8443,12811,9544371,54,11950,2,2,38,93,123,123,1,204
3,1585579647,2.2.171.255,27618,44.55.66.17,443,10085,14647202,13,65394,2,2,171,255,44,55,66,17
4,1585579647,3.3.3.22,30939,44.55.66.126,8443,11620,6049851,18,6085,3,3,3,22,44,55,66,126
5,1585579647,1.1.1.186,30520,42.42.42.154,443,10421,7539943,17,7950,1,1,1,186,42,42,42,154
6,1585579674,1.1.1.230,16642,32.31.30.150,8443,11881,6701834,52,9274,1,1,1,230,32,31,30,150
7,1585579687,3.3.3.164,44990,32.31.30.27,443,14120,13016368,27,21555,3,3,3,164,32,31,30,27
8,1585579690,3.3.3.134,48450,123.123.1.176,443,10576,10142463,16,29403,3,3,3,134,123,123,1,176
9,1585579701,3.3.3.90,51006,44.55.66.220,8080,14698,5788209,77,4848,3,3,3,90,44,55,66,220
10,1585579716,1.1.1.50,18733,32.31.30.244,80,10339,9652298,14,6974,1,1,1,50,32,31,30,244
11,1585579725,1.1.1.39,33212,123.123.1.76,443,9013,8460697,15,8873,1,1,1,39,123,123,1,76
12,1585579725,1.1.1.77,11242,123.123.1.49,23,11783,5374455,20,5989,1,1,1,77,123,123,1,49
13,1585579728,3.3.3.127,14242,42.42.42.65,8080,9555,12487959,29,43669,3,3,3,127,42,42,42,65
14,1585579734,1.1.1.52,50822,44.55.66.44,80,8224,5067602,24,6918,1,1,1,52,44,55,66,44
15,1585579750,3.3.3.76,61086,32.31.30.128,23,8815,5855178,14,4593,3,3,3,76,32,31,30,128
16,1585579752,3.3.3.143,10496,32.31.30.171,80,11787,12612166,19,44888,3,3,3,143,32,31,30,171
17,1585579762,2.2.144.145,43937,123.123.1.104,8443,9872,14721342,36,46153,2,2,144,145,123,123,1,104
18,1585579774,1.1.1.224,25056,123.123.1.153,443,5580,11438501,26,15958,1,1,1,224,123,123,1,153
19,1585579778,1.1.1.229,55796,32.31.30.10,25,12668,11819347,24,11380,1,1,1,229,32,31,30,10